section, .hero {
    background: rgba(255, 255, 255, 0.8); /* Белый фон с прозрачностью 80% */
    margin: 20px auto;
    max-width: 1100px;
    border-radius: 15px;
    box-sizing: border-box;
}

.schedule-controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.tab-btn {
    padding: 10px 20px;
    border: 2px solid #222;
    background: transparent;
    color: #222;
    font-weight: bold;
    transition: 0.3s;
}

.tab-btn.active, .tab-btn:hover {
    background: #222;
    color: white;
}

.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    color:#222;
    margin: 0;
    font-family: Arial, sans-serif;
    /* Основные настройки фона */
    background-image: url('pp.jpg'); /* Путь к файлу, так как всё в одной папке */
    background-size: cover;          /* Растягивает фото под размер экрана */
    background-position: center;     /* Центрирует изображение */
    background-attachment: fixed;    /* Картинка не «уезжает» при скролле */
    background-repeat: no-repeat;    /* Чтобы картинка не дублировалась плиткой */
    
    background-color: #f4f4f4;       /* Запасной цвет фона */
    color: #222;
}

.header{
    background:#222;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: sticky;
    top: 0;
}

.menu{
    display:flex;
    gap:20px;
    list-style:none;
}

.menu a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:#222;
    color:white;
    cursor:pointer;
}

section{
    padding:40px 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.teachers-title {
    text-align: center;
    margin-bottom: 40px;
}

.information-about {
    text-align: center;
    margin-bottom: 40px;
}

.information {
     text-align: center;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    max-width: 1200px; 
    margin: 0 auto;  
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 35%; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.teacher{
    background:white;
    padding:20px;
    margin-bottom:15px;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th, td{
    border:1px solid #ccc;
    padding:10px;
}

@media(max-width:768px){

    .header{
        flex-direction:column;
    }

    .menu{
        flex-direction:column;
        text-align:center;
    }

    .cards{
        flex-direction:column;
    }
}